# WebScraping Facebook e Instagram

In [1]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from time import sleep
from datetime import date
from dateutil.relativedelta import relativedelta
import pandas as pd
import os
import re

# Acessar Link

In [2]:
email = 'sucessoteste123@gmail.com' 
senha = 'Dados12345\n' 

Downloads = 'C:/Users/User/Downloads/'
Destino_Downloads = 'C:/Users/User/Documents/Python/Projeto_Marketing/Downloads/Instagram_Facebook/'

In [4]:
s=Service('C:/Users/User/Documents/Python/Projeto_Marketing/Drivers/geckodriver.exe')
driver = webdriver.Firefox(service=s)
driver.maximize_window()

link = 'https://business.facebook.com/latest/insights/results?asset_id=229685490418352&time_range=%2522LAST_90D%2522'

driver.get(link)

WebDriverException: Message: 'geckodriver.exe' executable needs to be in PATH.

# Login

In [ ]:
driver.find_element(By.NAME, 'email').send_keys(email)

sleep(2)

driver.find_element(By.XPATH, '//*[@id="pass"]').send_keys(senha)

driver.find_element(By.XPATH, '//*[@id="loginbutton"]').click()

sleep(12)

In [ ]:
export_alcance1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[3]/div/span/div/div/div[2]').click()

export_alcance2 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[2]/div/div/div/div').click()

sleep(0.5)

In [ ]:
export_visitas1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[3]/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[3]/div').click()

export_visitas2 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[2]/div/div/div/div').click()

sleep(0.5)

In [ ]:
export_nvseguidores1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[4]/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[3]/div/span/div/div/div[2]').click()

export_nvseguidores1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[2]/div/div/div/div').click()

sleep(0.5)

In [ ]:
# Abrir pg Público

pg_publico = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[1]/div[2]/div/div/div/div/div[1]/div[2]/div[1]/div[1]/div/nav[1]/div[2]/div[3]/div[1]/a/div/div').click()

In [ ]:
# Indicadores Públicos

sleep(0.5)

export_publico1 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[3]/div/span/div/div/div[2]').click()

export_publico2= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[2]/div/div/div/div').click()

In [ ]:
# Principais Cidades Facebook- Indicadores Público

Click = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[5]/div/div/div').click()

sleep(0.5)

cidades_fb = driver.find_element(By.CSS_SELECTOR,'div.ol91lf0t:nth-child(2) > div:nth-child(1) > div:nth-child(5) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1)').text
cidade_fb = cidades_fb.split('%\n')
cidade_fb  = pd.DataFrame(cidade_fb)
cidade_fb  = pd.DataFrame(cidade_fb)

cidade_fb[0] = cidade_fb[0].str.replace('Principais cidades\n','')

cidade_fb = cidade_fb[0].str.split('\n', expand = True)

cidade_fb[1] = cidade_fb[1].str.replace(r'%','')

cidade_fb[1] = cidade_fb[1].astype(float)

cidade_fb[1] = cidade_fb[1].div(100)

cidade_fb.rename(columns={0:'Cidade | UF',1:'%'}, inplace = True)

cidade_fb

          Cidade | UF      %
0        Curitiba, PR  0.101
1       São Paulo, SP  0.050
2  Rio de Janeiro, RJ  0.018
3       Joinville, SC  0.015
4       Fortaleza, CE  0.013
5         Goiânia, GO  0.012
6    Porto Alegre, RS  0.012
7  Belo Horizonte, MG  0.011
8        Londrina, PR  0.010
9         Maringá, PR  0.010

In [ ]:
# Principais Cidades Insta - Indicadores Público

cidades_Inst = driver.find_element(By.CSS_SELECTOR,'div.ol91lf0t:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1)').text

sleep(0.5)

cidade_Inst = cidades_Inst.split('%\n')

cidade_Inst  = pd.DataFrame(cidade_Inst)

cidade_Inst = cidade_Inst [0].str.split('\n', expand = True)

cidade_Inst[1] = cidade_Inst[1].str.replace(r'%','')

cidade_Inst[1] = cidade_Inst[1].astype(float)

cidade_Inst[1] = cidade_Inst[1].div(100)

cidade_Inst.rename(columns={0:'Cidade | UF',1:'%'}, inplace = True)

cidade_Inst

          Cidade | UF      %
0        Curitiba, PR  0.099
1       São Paulo, SP  0.029
2          Manaus, AM  0.020
3         Goiânia, GO  0.016
4  Belo Horizonte, MG  0.014

In [ ]:
# Público Potencial

botao_pp = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[2]/div/div/span[1]').click()

botao_pp2 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[2]/div/div/span[1]').click()

sleep(0.5)

export_publicopp = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[4]/div/span/div/div/div[2]').click()

sleep(0.5)

export_publicopp2= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[2]/div/div/div/div').click()

sleep(0.5)

In [ ]:
# Visão Geral Organica

botao_VGO = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[1]/div[2]/div/div/div/div/div[1]/div[2]/div[1]/div[1]/div/nav[2]/div[2]/div[1]/div[1]/a/div/div').click()

sleep(2)

In [ ]:
# Publicações Facebook

Alcance_org_pub = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

Alcance_org_pub_perc = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span:nth-child(2)').text

eng_org_pub_face = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

eng_org_pub_face_perc = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span:nth-child(2)').text

Alcance_org_pub = [Alcance_org_pub]

Alcance_org_pub_perc = [Alcance_org_pub_perc]

eng_org_pub_face = [eng_org_pub_face]

eng_org_pub_face_perc = [eng_org_pub_face_perc]

Alcance_Organico_Pub_Facebook = pd.DataFrame(Alcance_org_pub)

Alcance_Organico_Pub_Facebook.rename(columns={0:'Alcance Orgânico Publicações Face'}, inplace = True)

Alcance_Organico_Pub_Facebook_Percent = pd.DataFrame(Alcance_org_pub_perc)

Alcance_Organico_Pub_Facebook_Percent.rename(columns={0:'Alcance Orgânico Publicações Face %'}, inplace = True)

Engajamento_Organico_Pub_Facebook = pd.DataFrame(eng_org_pub_face)

Engajamento_Organico_Pub_Facebook.rename(columns={0:'Engajamento Orgânico Publicações Face'}, inplace = True)

Engajamento_Organico_Pub_Facebook_Percent = pd.DataFrame(eng_org_pub_face_perc)

Engajamento_Organico_Pub_Facebook_Percent.rename(columns={0:'Engajamento Orgânico Publicações Face %'}, inplace = True)

Alcance_Organico_Pub_Facebook = Alcance_Organico_Pub_Facebook.join(Alcance_Organico_Pub_Facebook_Percent)

Engajamento_Organico_Pub_Facebook = Engajamento_Organico_Pub_Facebook.join(Engajamento_Organico_Pub_Facebook_Percent)

Indicadores_Publicações = Alcance_Organico_Pub_Facebook.join(Engajamento_Organico_Pub_Facebook)

Indicadores_Publicações

,Alcance Orgânico Publicações Face,Alcance Orgânico Publicações Face %,Engajamento Orgânico Publicações Face,Engajamento Orgânico Publicações Face %
0,"2,7 mil","32,3%",353,"256,6%"

In [ ]:
# Alcance médio da publicação por tipo de mídia Facebook

botao_VGO = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[1]/div/div/span[1]').click()

sleep(2)

Tipo_midia_face = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[3]/div/div/div/div[2]/div/div').text

Tipo_midia_face = Tipo_midia_face.split('\n')

# Obter apenas os valores da lista

valores = []
contagem = 0
for i in Tipo_midia_face:
    if contagem % 2 == 1:
        valores.append(i)
    contagem += 1

# Obter apenas o texto da lista
    
texto = [x for x in Tipo_midia_face if not (x.isdigit() 
                                         or x[0] == '-' and x[1:].isdigit())]
# Criar DataFrame    

Tipo_Midia_Face = pd.DataFrame()

Tipo_Midia_Face['Tipo de Mídia']  = texto

Tipo_Midia_Face['Valores Tipo de Mídia']  = valores

Tipo_Midia_Face

  Tipo de Mídia Valores Tipo de Mídia
0       Imagens                   347
1        Vídeos                   176
2         Áudio                     0
3         Texto                     0
4         Links                     0

In [ ]:
# Alcance mediano da publicação por Formato de Conteúdo 

Formato_cont_Face = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[4]/div/div/div/div[2]/div/div').text

Formato_cont_Face = Formato_cont_Face.split('\n')

# Obter apenas os valores da lista

Formato_cont_Face

valores_1 = []
contagem_1 = 0
for i in Formato_cont_Face:
    if contagem_1 % 2 == 1:
        valores_1.append(i)
    contagem_1 += 1
    
# Obter apenas o texto da lista
    
texto_1 = [x for x in Formato_cont_Face if not (x.isdigit() 
                                         or x[0] == '-' and x[1:].isdigit())]
# Criar DataFrame    

Formato_cont_Face = pd.DataFrame()

Formato_cont_Face['Formato de Conteúdo']  = texto_1

Formato_cont_Face['Valores Formato de Conteúdo']  = valores_1

Formato_cont_Face

          Formato de Conteúdo Valores Formato de Conteúdo
0        Publicações de álbum                         354
1          Outras publicações                         335
2         Publicações ao vivo                           0
3             Vídeos do Reels                           0
4   Publicações de vídeo 360°                           0
5  Publicações de imagem 360°                           0

In [ ]:
# Stories Facebook

botao_Face_Storie = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[2]').click()

sleep(1)

Storie_face = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

sleep(1)

Storie_face = [Storie_face]

Storie_Facebook = pd.DataFrame(Storie_face)

Storie_Facebook.rename(columns={0:'Stories Facebook'}, inplace = True)

Storie_Facebook

  Stories Facebook
0               35

In [ ]:
# Publicações do Instagram

botao_Pub_Insta = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[3]/div/div/span[1]').click()

sleep(2)

eng_org_pub_Insta = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

eng_org_pub_Insta_perc = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span:nth-child(2)').text

eng_org_pub_Insta = [eng_org_pub_Insta]

eng_org_pub_Insta_perc = [eng_org_pub_Insta_perc]

Engajamento_Orgânico_Pub_Instagram = pd.DataFrame(eng_org_pub_Insta)

Engajamento_Orgânico_Pub_Instagram.rename(columns={0:'Engajamento Orgânico Publicações Instagram'}, inplace = True)

Engajamento_Orgânico_Pub_Instagram_Percent = pd.DataFrame(eng_org_pub_Insta_perc)

Engajamento_Orgânico_Pub_Instagram_Percent.rename(columns={0:'Engajamento Orgânico Publicações Instagram %'}, inplace = True)

Engajamento_Orgânico_Pub_Instagram = Engajamento_Orgânico_Pub_Instagram.join(Engajamento_Orgânico_Pub_Instagram_Percent)

Engajamento_Orgânico_Pub_Instagram

,Engajamento Orgânico Publicações Instagram,Engajamento Orgânico Publicações Instagram %
0,"3,8 mil","33,3%"

In [ ]:
# Alcance Organico Insta

Alcance_org_insta_pub = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div/div[2]/div/div/div[2]').text

Alcance_org_insta_pub = Alcance_org_insta_pub.split('\n')

Alcance_org_insta_pub_1 = pd.DataFrame(Alcance_org_insta_pub)

Alcance_org_insta_pub_2 = pd.DataFrame(Alcance_org_insta_pub)

Alcance_org_insta_pub_1.drop([0,2,4,6,8,10,12] ,axis=0, inplace = True)

Alcance_org_insta_pub_1.reset_index(drop = True, inplace = True)

Alcance_org_insta_pub_1.rename(columns={0:'Valores'}, inplace = True)

Alcance_org_insta_pub_2.drop([1,3,5,7,9,11,13] ,axis=0, inplace = True)

Alcance_org_insta_pub_2.reset_index(drop = True, inplace = True)

Alcance_org_insta_pub_2.rename(columns={0:'Formato'}, inplace = True)

Alcance_organico_Insta = Alcance_org_insta_pub_2.join(Alcance_org_insta_pub_1)

Alcance_organico_Insta

   Formato    Valores
0       11  103,5 mil
1       16    9,8 mil
2        2    4,6 mil
3        9    2,5 mil
4        3    1,8 mil
5       12        171
6        5         90
7        0          0
8       15         15
9        8          8
10       3          3
11       4          4
12       1          1

In [ ]:
sleep(0.5)

botao_Insta_Storie = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[1]/div[4]/div/div/span[1]').click()

sleep(0.5)

# Alcance_org_Storie = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[2]/div/div[1]/div/div/div/div[2]/div[1]').text

sleep(1)

botao = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div[4]/div/div/div[1]/div/div[1]').click()

sleep(1)                 
                            
Storie_Insta = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

sleep(1)

eng_org_storie_insta = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1)').text

sleep(1)

eng_org_storie_insta_perc = driver.find_element(By.CSS_SELECTOR,'div.q35ryuy1:nth-child(2) > div:nth-child(1) > div:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span:nth-child(2)').text

Storie_Insta = [Storie_Insta]

Stories_Instagram = pd.DataFrame(Storie_Insta)

Stories_Instagram.rename(columns={0:'Stories_Instagram'}, inplace = True)

eng_org_storie_insta = [eng_org_storie_insta]

Engajamento_Organico_Stories_Insta = pd.DataFrame(eng_org_storie_insta)

Engajamento_Organico_Stories_Insta.rename(columns={0:'Engajamento_Organico_Stories_Insta'}, inplace = True)

eng_org_storie_insta_perc = [eng_org_storie_insta_perc]

Engajamento_Organico_Stories_Insta_Percent = pd.DataFrame(eng_org_storie_insta)

Engajamento_Organico_Stories_Insta_Percent.rename(columns={0:'Engajamento_Organico_Stories_Insta %'}, inplace = True)

Indicadores_Stories = Engajamento_Organico_Stories_Insta.join(Engajamento_Organico_Stories_Insta_Percent)

Indicadores_Stories = Indicadores_Stories.join(Stories_Instagram)

Indicadores_Stories

,Engajamento_Organico_Stories_Insta,Engajamento_Organico_Stories_Insta %,Stories_Instagram
0,102,102,145

In [ ]:
# Conteúdo

botao_conteudo = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[1]/div[2]/div/div/div/div/div[1]/div[2]/div[1]/div[1]/div/nav[2]/div[2]/div[2]/div[1]/a/div/div').click()

sleep(2)

botao_periodo= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[1]/div/div/div[1]/div[2]/div/div[4]/div[2]/div/div/span/div/div').click()

sleep(2)

botao_90_dias= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[1]/div/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div[1]/div/div[2]/div/div/div/label[3]/div/div').click()

sleep(2)

botao_lista = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[3]/div').click()

sleep(2)

botao_stories = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[2]/div/div/div[1]/div[1]/div/div/div[1]/div[2]/div/div[5]/label/div/div').click()

sleep(2)

botao_alcance = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div[2]/div/div/div/div/div/table/thead/tr/th[4]/div/div[1]/span[1]/div/div/span/div/div').click()

sleep(2)

botao_alcance_2 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[2]/div/div/div/div/div/div/div/div/div/div/table/thead/tr/th[4]').click()

sleep(2)

botao_exp_conteudo = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[4]/div').click()

sleep(0.5)

botao_exp_conteudo = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div[1]/div/div/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div[2]/div/div/div/div/div[1]/div[2]/div/div/div/div[1]/div/div[4]/div').click()

sleep(0.5)

# Localizar Arquivos

In [ ]:
arquivos = os.listdir(Downloads)

# Remover os Arquivos Existentes

In [ ]:
if os.path.exists(Destino_Downloads + 'Alcance.csv'):
    os.remove(Destino_Downloads + 'Alcance.csv')

In [ ]:
if os.path.exists(Destino_Downloads + 'Seguidores_Curtidas.csv'):
    os.remove(Destino_Downloads + 'Seguidores_Curtidas.csv')

In [ ]:
if os.path.exists(Destino_Downloads + 'Visitas.csv'):
    os.remove(Destino_Downloads + 'Visitas.csv')

In [ ]:
if os.path.exists(Destino_Downloads + 'Público_Atual.csv'):
    os.remove(Destino_Downloads + 'Público_Atual.csv')

In [ ]:
if os.path.exists(Destino_Downloads + 'Público_Potencial.csv'):
    os.remove(Destino_Downloads + 'Público_Potencial.csv')

In [ ]:
if os.path.exists(Destino_Downloads + 'Conteúdo.csv'):
    os.remove(Destino_Downloads + 'Conteúdo.csv')

# Mover para Pasta Destino

In [ ]:
for arquivo in arquivos:
    if ".csv" in arquivo:
        if "Alcance" in arquivo:    
            os.rename(Downloads + arquivo,Destino_Downloads + 'Alcance.csv')
        if "seguidores" in arquivo:
            os.rename(Downloads + arquivo,Destino_Downloads + 'Seguidores_Curtidas.csv')
        if "Visitas à Página e ao perfil" in arquivo:
            os.rename(Downloads + arquivo,Destino_Downloads + 'Visitas.csv')
        if "co(1)" in arquivo:
            os.rename(Downloads + arquivo,Destino_Downloads + 'Público_Potencial.csv')
        if "Público.csv" in arquivo:
            os.rename(Downloads + arquivo,Destino_Downloads + 'Público_Atual.csv')
        if "Todo o conteúdo" in arquivo:
            os.rename(Downloads + arquivo,Destino_Downloads + 'Conteúdo.csv')

# Lendo os arquivos CSV

In [ ]:
# Alcance

Alcance = pd.read_csv(Destino_Downloads + 'Alcance.csv', encoding= 'UTF-16', sep = ',', header =[2])
Alcance = pd.DataFrame(Alcance)
Alcance_Insta = Alcance[Alcance.Data.eq('Alcance do Instagram')].index.values.astype(int)[0]
Alcance_insta = Alcance[Alcance.index >Alcance_Insta+1]
Alcance_face = Alcance[Alcance.index <Alcance_Insta] 

Alcance_Facebook =pd.DataFrame(Alcance_face)
Alcance_Facebook['Data'] = pd.to_datetime(Alcance_Facebook['Data']).dt.date
Alcance_Facebook['Alcance da Página do Facebook'] = pd.to_numeric(Alcance_Facebook['Alcance da Página do Facebook'])


Alcance_Instagram =pd.DataFrame(Alcance_insta)
Alcance_Instagram.rename(columns={'Alcance da Página do Facebook':'Alcance Instagram'}, inplace = True)
Alcance_Instagram['Data'] = pd.to_datetime(Alcance_Instagram['Data']).dt.date
Alcance_Instagram['Alcance Instagram'] = pd.to_numeric(Alcance_Instagram['Alcance Instagram'])

Alcance_Facebook

          Data  Alcance da Página do Facebook
0   2022-05-10                          15729
1   2022-05-11                          12377
2   2022-05-12                           8047
3   2022-05-13                           7064
4   2022-05-14                           7523
..         ...                            ...
85  2022-08-03                           3319
86  2022-08-04                           3789
87  2022-08-05                           3154
88  2022-08-06                           3660
89  2022-08-07                           3672

[90 rows x 2 columns]

In [ ]:
Alcance_Instagram

           Data  Alcance Instagram
92   2022-05-10              11762
93   2022-05-11               7140
94   2022-05-12               2738
95   2022-05-13               2780
96   2022-05-14               2904
..          ...                ...
177  2022-08-03               3654
178  2022-08-04               4075
179  2022-08-05               3630
180  2022-08-06               3720
181  2022-08-07               3595

[90 rows x 2 columns]

In [ ]:
# Conteúdo

Conteúdo = pd.read_csv(Destino_Downloads + 'Conteúdo.csv', encoding= 'UTF-16', sep = ',', header =[2])
Conteúdo = pd.DataFrame(Conteúdo)
Conteúdo.rename(columns={'Hora da publicação':'Data'}, inplace = True)
Conteúdo['Data'] = pd.to_datetime(Conteúdo['Data']).dt.date
Conteúdo['Alcance'] = pd.to_numeric(Conteúdo['Alcance'])
Conteúdo['Curtidas e reações'] = pd.to_numeric(Conteúdo['Curtidas e reações'])
Conteúdo['Toques em figurinhas'] = pd.to_numeric(Conteúdo['Toques em figurinhas'])
Conteúdo['Respostas'] = pd.to_numeric(Conteúdo['Respostas'])
Conteúdo['Cliques no link'] = pd.to_numeric(Conteúdo['Cliques no link'])
Conteúdo['Comentários'] = pd.to_numeric(Conteúdo['Comentários'])
Conteúdo['Compartilhamentos'] = pd.to_numeric(Conteúdo['Compartilhamentos'])
Conteúdo['Resultados'] = pd.to_numeric(Conteúdo['Resultados'])

Conteúdo

,Legenda,Data,Tipo de conteúdo,Alcance,Curtidas e reações,Toques em figurinhas,Respostas,Cliques no link,Comentários,Compartilhamentos,Resultados,Custo por resultado
0,Saber quais são os sonhos e desejos particular...,2022-05-30,Publicação do Instagram,1695,84,NaN,NaN,NaN,36,31,NaN,NaN
1,As empresas que não acompanharem as evoluções ...,2022-05-31,Publicação do Instagram,1056,38,NaN,NaN,NaN,30,6,NaN,NaN
2,Mais um Projeto de Sucesso será estendido! Já ...,2022-05-20,Publicação do Instagram,923,34,NaN,NaN,NaN,14,8,NaN,NaN
3,A insatisfação do cliente pode vir no momento ...,2022-05-23,Publicação do Instagram,918,54,NaN,NaN,NaN,24,25,NaN,NaN
4,Vale lembrar: usamos o digital e não devemos s...,2022-05-17,Publicação do Instagram,907,30,NaN,NaN,NaN,19,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sua equipe já utiliza o CRM? Com esta #tecnolo...,2022-07-26,Publicação do Instagram,262,10,NaN,NaN,NaN,4,0,NaN,NaN
96,Siga algumas destas ações e ajude os seus vend...,2022-05-26,Publicação do Facebook,261,0,NaN,NaN,NaN,0,0,NaN,NaN
97,Não da mais para vender do mesmo jeito! O perf...,2022-06-10,Publicação do Facebook,245,5,NaN,NaN,NaN,1,0,NaN,NaN
98,É preciso cultivar a paixão pelo cliente e a c...,2022-06-23,Publicação do Facebook,243,5,NaN,NaN,NaN,1,0,NaN,NaN
99,Sua equipe já utiliza o CRM? Com esta #tecnolo...,2022-07-26,Publicação do Facebook,238,2,NaN,NaN,NaN,1,1,NaN,NaN

In [ ]:
# Público Atual

Público_Atual = pd.read_csv(Destino_Downloads + 'Público_Atual.csv', encoding= 'UTF-16',sep=',', header=8)
Público_Atual = pd.DataFrame(Público_Atual)
Público_Atual_Insta = Público_Atual[Público_Atual.Idade.eq('Seguidores do Instagram por gênero e idade')].index.values.astype(int)[0]
Público_Atual_insta = Público_Atual[Público_Atual.index >Público_Atual_Insta+1]
Público_Atual_face = Público_Atual[Público_Atual.index <Público_Atual_Insta] 

Público_Atual_Facebook =pd.DataFrame(Público_Atual_face)

Público_Atual_Instagram =pd.DataFrame(Público_Atual_insta)

Público_Atual_Facebook

   Idade Mulheres Homens
0  18-24     1,2%   1,3%
1  25-34    15,3%  17,1%
2  35-44    19,6%  22,4%
3  45-54     7,8%     9%
4  55-64     2,3%   2,4%
5    65+     0,7%   0,9%

In [ ]:
Público_Atual_Instagram

    Idade Mulheres Homens
8   18-24     3,6%   3,1%
9   25-34    20,4%  20,4%
10  35-44    18,2%  18,9%
11  45-54     5,9%   6,2%
12  55-64     1,2%   1,5%
13    65+     0,3%   0,3%

In [ ]:
# Curtidas e Seguidores

Curtidas_Face = pd.read_csv(Destino_Downloads + 'Público_Atual.csv', encoding= 'UTF-16',sep=' ', header=1)
Curtidas_Face.drop([0,3] ,axis=0, inplace = True)
Curtidas_Face[:-16]

Curtidas_Face.rename(columns={'Curtidas na Página do Facebook':'Curtidas_Face'}, inplace = True)

Seguidores = Curtidas_Face[Curtidas_Face.Curtidas_Face.eq('Seguidores do Instagram')].index.values.astype(int)[0]

Curtidas_Fcb = Curtidas_Face[Curtidas_Face.index < Seguidores]

Curtidas_Facebook =pd.DataFrame(Curtidas_Fcb)

Curtidas_Facebook.reset_index(drop = True, inplace = True)

Seguidores_Insta = Curtidas_Face[Curtidas_Face.index >= Seguidores]

Seguidores_Instagram =pd.DataFrame(Seguidores_Insta)

seg = Seguidores_Instagram.loc[[4]]

Seguidores_Instagram = pd.DataFrame(seg)

Seguidores_Instagram.rename(columns={'Curtidas_Face':'Seguidores_Insta'}, inplace = True)

Seguidores_Instagram.reset_index(drop = True, inplace = True)

Indicadores_Gerais = Curtidas_Facebook.join(Seguidores_Instagram)

Indicadores_Gerais

  Curtidas_Face Seguidores_Insta
0         18936            12593

In [ ]:
# Público Potencial

Público_Potencial = pd.read_csv(Destino_Downloads + 'Público_Potencial.csv', encoding= 'UTF-16',sep=',', header=5)

# Valor

Valor_Público_Potencial = pd.read_csv(Destino_Downloads + 'Público_Potencial.csv', encoding= 'UTF-16',sep=' ', header=1)

Valor = Valor_Público_Potencial.loc[[1]]

Tamanho_Estimado = pd.DataFrame(Valor)

Público_Potencial

   Idade Mulheres Homens
0  18-24     8,3%   8,6%
1  25-34    15,1%    14%
2  35-44      14%  10,3%
3  45-54     9,4%     6%
4  55-64     6,1%   3,3%
5    65+     3,2%   1,7%

In [ ]:
Tamanho_Estimado

  Tamanho estimado do público
1   142.300.000 - 167.400.000

In [ ]:
# Seguidores e Curtidas

Seguidores_Curtidas = pd.read_csv(Destino_Downloads + 'Seguidores_Curtidas.csv', encoding= 'UTF-16', sep = ',', header =[2])
Seguidores_Curtidas = pd.DataFrame(Seguidores_Curtidas)

Seg_Insta = Seguidores_Curtidas[Seguidores_Curtidas.Data.eq('Novos seguidores do Instagram')].index.values.astype(int)[0]

NV_Seguidores_insta = Seguidores_Curtidas[Seguidores_Curtidas.index > Seg_Insta + 1]
NvCurtidas_face = Seguidores_Curtidas[Seguidores_Curtidas.index < Seg_Insta]

Novas_Curtidas_Facebook =pd.DataFrame(NvCurtidas_face)
Novas_Curtidas_Facebook['Data'] = pd.to_datetime(Novas_Curtidas_Facebook['Data']).dt.date
Novas_Curtidas_Facebook['Novas curtidas da Página do Facebook'] = pd.to_numeric(Novas_Curtidas_Facebook['Novas curtidas da Página do Facebook'])


Novos_Seguidores_Instagram =pd.DataFrame(NV_Seguidores_insta)
Novos_Seguidores_Instagram.rename(columns={'Novas curtidas da Página do Facebook':'Novos seguidores do Instagram'}, inplace = True)
Novos_Seguidores_Instagram['Data'] = pd.to_datetime(Novos_Seguidores_Instagram['Data']).dt.date
Novos_Seguidores_Instagram['Novos seguidores do Instagram'] = pd.to_numeric(Novos_Seguidores_Instagram['Novos seguidores do Instagram'])

Novas_Curtidas_Facebook

          Data  Novas curtidas da Página do Facebook
0   2022-05-10                                     0
1   2022-05-11                                     1
2   2022-05-12                                     0
3   2022-05-13                                     1
4   2022-05-14                                     1
..         ...                                   ...
85  2022-08-03                                     2
86  2022-08-04                                     1
87  2022-08-05                                     0
88  2022-08-06                                     1
89  2022-08-07                                     0

[90 rows x 2 columns]

In [ ]:
Novos_Seguidores_Instagram

In [ ]:
# Visitas

Visitas = pd.read_csv(Destino_Downloads + 'Visitas.csv', encoding= 'UTF-16', sep = ',', header =[2])
Visitas = pd.DataFrame(Visitas)
Visitas_Insta = Visitas[Visitas.Data.eq('Visitas ao perfil do Instagram')].index.values.astype(int)[0]
Visitas_insta = Visitas[Visitas.index > Visitas_Insta + 1]
Visitas_face = Visitas[Visitas.index < Visitas_Insta] 

Visitas_Facebook =pd.DataFrame(Visitas_face)
Visitas_Facebook.rename(columns={'Curtidas na Página do Facebook':'Visitas Facebook'}, inplace = True)
Visitas_Facebook['Data'] = pd.to_datetime(Visitas_Facebook['Data']).dt.date
Visitas_Facebook['Visitas Facebook'] = pd.to_numeric(Visitas_Facebook['Visitas Facebook'])


Visitas_Instagram =pd.DataFrame(Visitas_insta)
Visitas_Instagram.rename(columns={'Curtidas na Página do Facebook':'Visitas Instagram'}, inplace = True)
Visitas_Instagram['Data'] = pd.to_datetime(Visitas_Instagram['Data']).dt.date
Visitas_Instagram['Visitas Instagram'] = pd.to_numeric(Visitas_Instagram['Visitas Instagram'])

Visitas_Facebook

          Data  Visitas Facebook
0   2022-05-10                 6
1   2022-05-11                 6
2   2022-05-12                12
3   2022-05-13                 7
4   2022-05-14                 5
..         ...               ...
85  2022-08-03                 4
86  2022-08-04                 3
87  2022-08-05                 5
88  2022-08-06                 1
89  2022-08-07                 3

[90 rows x 2 columns]

In [ ]:
Visitas_Instagram

In [ ]:
writer = pd.ExcelWriter('Base_Insta_Face.xlsx', engine='xlsxwriter')


Alcance_Facebook.to_excel(writer, sheet_name ='Alcance_Facebook')
Visitas_Facebook.to_excel(writer, sheet_name ='Visitas_Facebook')
Novas_Curtidas_Facebook.to_excel(writer, sheet_name ='Novas_Curtidas_Facebook')
Público_Atual_Facebook.to_excel(writer, sheet_name ='Público_Atual_Facebook')
cidade_fb.to_excel(writer, sheet_name ='Público_Cidades_Facebook')
Indicadores_Publicações.to_excel(writer, sheet_name ='Indicadores_Pub_Facebook')
Tipo_Midia_Face.to_excel(writer, sheet_name ='Tipo_Midia_Facebook')
Formato_cont_Face.to_excel(writer, sheet_name ='Formato_conteúdo_Facebook')
Storie_Facebook.to_excel(writer, sheet_name ='Stories_Facebook')
Alcance_Instagram.to_excel(writer, sheet_name ='Alcance Instagram')
Visitas_Instagram.to_excel(writer, sheet_name ='Visitas_Instagram')
Novos_Seguidores_Instagram.to_excel(writer, sheet_name ='Novos_Seguidores_Instagram')
Público_Atual_Instagram.to_excel(writer, sheet_name ='Público_Atual_Instagram')
cidade_Inst.to_excel(writer, sheet_name ='Público_Cidades_Insta')
Indicadores_Stories.to_excel(writer, sheet_name ='Indicadores_Stories_Instagram')
Engajamento_Orgânico_Pub_Instagram.to_excel(writer, sheet_name ='Engajamento_Org_Pub_Instagram')
Alcance_organico_Insta.to_excel(writer, sheet_name ='Alcance_organico_Instagram')
Indicadores_Gerais.to_excel(writer, sheet_name ='Indicadores_Gerais')
Público_Potencial.to_excel(writer, sheet_name ='Público_Potencial')
Tamanho_Estimado.to_excel(writer, sheet_name ='Tamanho_Estimado')
Conteúdo.to_excel(writer, sheet_name ='Conteúdo')




writer.save()
driver.close()

InvalidSessionIdException: Message: Tried to run command without establishing a connection